---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">About me</h3>
    Keisuke Higashiura is a bachelor student of Department of Electrical Engineering, Electronics, and Information Engineering, School of Engineering, Nagoya University.
  </div>
  <div class="col-md-5">
    <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="100%">
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Education</h3>
      <div class="row">
        <div class="col-md-2">
          2015.04 - 2018.03
        </div>
        <div class="col-md-8">
          Hyogo Pref. Kobe High School
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          2018.04 -
        </div>
        <div class="col-md-8">
          School of Engineering, Nagoya University
        </div>
      </div>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Qualification</h3>
      <div class="row">
        <div class="col-md-2">
          2014.11
        </div>
        <div class="col-md-8">
          abacus certificate examination - 1st Grade
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          2017.01
        </div>
        <div class="col-md-8">
          model rocket license - 4th Grade
        </div>
      </div>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Carrier History</h3>
      <div class="row">
        <div class="col-md-2">
          2019.12 -
        </div>
        <div class="col-md-8">
          career-net Co., Ltd.
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          2021.08 -
        </div>
        <div class="col-md-8">
          <a href="https://perceptionengine.jp/" target="_blank">Perception Engine Inc.</a>
        </div>
      </div>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Hobby</h3>
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li>Photo</li>
            <li>Guitar</li>
            <li>Gadget</li>
          </ul>
        </div>
      </div>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
      comming soon
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p>{{ post.title }} - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
