---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">About me</h3>
    名古屋大学工学部電気電子情報工学科の東浦圭亮です。
  </div>
  <div class="col-md-5">
    <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="100%">
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Education</h3>
      <div class="row">
        <div class="col-md-2">
          2015.04 - 2018.03
        </div>
        <div class="col-md-8">
          兵庫県立神戸高等学校　普通科
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          2018.04 -
        </div>
        <div class="col-md-8">
          名古屋大学 工学部 電気電子情報工学科
        </div>
      </div>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Quarification</h3>
      <div class="row">
        <div class="col-md-2">
          2014.11
        </div>
        <div class="col-md-8">
          全国珠算教育連盟珠算検定 珠算1級
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          2017.01
        </div>
        <div class="col-md-8">
          モデルロケット 4級ライセンス
        </div>
      </div>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Carrier History</h3>
      <div class="row">
        <div class="col-md-2">
          2019.12 -
        </div>
        <div class="col-md-8">
          キャリアネット株式会社
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          2021.08 -
        </div>
        <div class="col-md-8">
          <a href="https://perceptionengine.jp/" target="_blank">株式会社パーセプションエンジン</a>
        </div>
      </div>
  </div>
</div>

<!-- <div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Skill</h3>
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li>C/C++</li>
            <li>Python</li>
          </ul>
        </div>
      </div>
  </div>
</div> -->

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Hobby</h3>
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li>写真</li>
            <li>ギター</li>
            <li>ガジェット</li>
          </ul>
        </div>
      </div>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
      comming soon
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p>{{ post.title }} - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>

