---
layout: default
---
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="fw-bold border-bottom pb-3 mb-5">自己紹介</h3>
      <div class = "row">
        <div class="col-md-7">
          名古屋大学大学院 工学研究科 情報・通信工学専攻の東浦圭亮です．
        </div>
        <div class="col-md-5">
          <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="100%">
        </div>
      </div>
        
    </div>
  </div>
  
  
  <div class="row g-5 mb-5">
    <div class="col-md-12">
      <h3 class="fw-bold border-bottom pb-3 mb-5">学歴</h3>
        <div class="row">
          <div class="col-md-3">
            2022.04 - 現在
          </div>
          <div class="col-md-9">
            名古屋大学大学院 工学研究科 情報・通信工学専攻
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            2018.04 - 2022.3
          </div>
          <div class="col-md-9">
            名古屋大学工学部 電気電子情報工学科
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            2015.04 - 2018.03
          </div>
          <div class="col-md-9">
            兵庫県立神戸高等学校 普通科
          </div>
        </div>
    </div>
  </div>
  
  <div class="row g-5 mb-5">
    <div class="col-md-12">
      <h3 class="fw-bold border-bottom pb-3 mb-5">出版物</h3>
      <ul>
        <li>
          <strong>東浦 圭亮</strong>, 田村 直樹, 平野 流, 鷲田 健斗, 坂倉 波輝, 山口 公平, 浦野 健太, 米澤 拓郎, 河口 信夫:<br/>
          時間粒度が疎密な大規模測位データを用いた移動手段推定に関する研究<br/>
          マルチメディア、分散、協調とモバイル DICOMO 2022 シンポジウム, 2022.7.
        </li>
        <li>
          <strong>東浦 圭亮</strong>, 吉田 拓人, 加納 一馬, 瀧上 昂希, 山口 公平, 浦野 健太, 青木 俊介, 米澤 拓郎, 河口 信夫:<br/>
          機械学習による慣性センサを用いた転倒動作検知に関する研究<br/>
          社会システムと情報技術研究ウィーク (WSSIT2022), 2022.3.
        </li>
        <li>
          挺屋 友幹, 永田 吉輝, <strong>東浦 圭亮</strong>, 下里 浩昇, 山口 公平, 村井 大地, 深谷 愓也, 坂倉 波輝, 戸出 悠太, 浦野 健太，米澤 拓郎，河口 信夫:<br/>
          <a href="https://www.jstage.jst.go.jp/article/jsaikbs/125/0/125_03/_article/-char/ja/" target="_blank">深層学習を用いたIMU付きペンによる手書き文字認識<br/></a>
          社会システムと情報技術研究ウィーク (WSSIT2022), 2022.3.
        </li>
        <li>
          Takuto Yoshida, Kazuma Kano, <strong>Keisuke Higashiura</strong>, Koki Takigami, Kohei Yamaguchi, Kenta Urano, Shunsuke Aoki, Takuro Yonezawa, Nobuo Kawaguchi:<br/>
          <a href="http://db.uclab.jp/show/1418" target="_blank">A data-driven approach for online pre-impact fall detection with wearable devices</a><br/>
          The 3rd International Conference on Activity and Behavior Computing, 2021.10.
        </li>
      </ul>
        

        
    </div>
  </div>
  
  <div class="row g-5 mb-5">
    <div class="col-md-12">
      <h3 class="fw-bold border-bottom pb-3 mb-5">受賞</h3>
      <ul>
        <li>
          <a href="https://zero2one.jp/lp/mobility-contest-students-1/" target="_blank">AI, Deep Learning in Mobility 第7位</a>, 2022.3.
        </li>
        <li>
          優秀賞, <a href="https://kajilab.net/tokaiubi2021/" target="_blank">第2回東海ユビキタスコンピューティング研究室合同研究発表会</a>, 2021.11.
        </li>
        <li>
          <a href="https://stabilodigital.com/submissions-2021/" target="_blank">3rd place of STABILO’s Handwriting Recognition Challenge</a><br/>
            The ACM international joint conference on pervasive and ubiquitous computing (UbiComp) 2021, 2021.9.
        </li>
        <li>
          <a href="https://www.nuee.nagoya-u.ac.jp/kyoiku/gakubu/experiment/hyosyo.php" target="_blank">2020年度 大実験成績優秀者表彰</a>, 2021.3.
        </li>
      </ul>
    </div>
  </div>
  
  
  <div class="row g-5 mb-5">
    <div class="col-md-12">
      <h3 class="fw-bold border-bottom pb-3 mb-5">インターン・職歴</h3>
        <div class="row">
          <div class="col-md-3">
            2022.07 - 現在
          </div>
          <div class="col-md-9">
            <a href="https://www.map4.jp/" target="_blank">株式会社マップフォー</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            2021.08 - 2022.06
          </div>
          <div class="col-md-9">
            <a href="https://perceptionengine.jp/" target="_blank">株式会社パーセプションエンジン</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            2019.12 - 現在
          </div>
          <div class="col-md-9">
            <a href="http://career-net.co.jp/" target="_blank">キャリアネット株式会社</a>
          </div>
        </div>
    </div>
  </div>
  
  
  
  
  <div class="row g-5 mb-5">
    <div class="col-md-12">
      <h3 class="fw-bold border-bottom pb-3 mb-5">資格</h3>
        <div class="row">
          <div class="col-md-3">
            2017.01
          </div>
          <div class="col-md-9">
            モデルロケット 4級ライセンス
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            2014.11
          </div>
          <div class="col-md-9">
            全国珠算教育連盟珠算検定 珠算1級
          </div>
        </div>
    </div>
  </div>
  
  <div class="row g-5 mb-5">
    <div class="col-md-12">
      <h3 class="fw-bold border-bottom pb-3 mb-5">趣味</h3>
        <div class="row">
          <div class="col-md-8">
            <ul>
              <li>写真</li>
              <li>ギター</li>
              <li>ガジェット</li>
            </ul>
          </div>
        </div>
    </div>
  </div>

  <div class="row g-5 mb-5">
    <div class="col-md-12">
      <h3 class="fw-bold border-bottom pb-3 mb-5">連絡先</h3>
        <div class="row">
          <div class="col-md-12">
            urachan[at]ucl.nuee.nagoya-u.ac.jp
          </div>
        </div>
    </div>
  </div>
  </div>
</div>


